.footer-container {
    position: relative;
    z-index: 99;
    color: #fff;
    background: #000;
    
}
.footer{
    width: 100%;
    max-width: 1148px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
/* form */
.footer .form {
    display: flex;
    flex-direction: column;
}

.form h5{
    text-transform: uppercase;
     font-family: "Oswald",sans-serif ;

}
.footer .form input  {
    margin-right: 8px;
    border-radius: 2px;
    padding: 0 0 0 16px;
    height: 42px;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid rgb(180, 187, 195);
}
.footer .form input:active,
.footer input:focus{
    border: 1px solid rgb(180, 187, 195);
    outline: none;
}

.footer button{
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-size: 30px;
    cursor: pointer !important;
}

.footer button:focus,
.footer button:active{
     background: transparent;
    color: #fff;
    border: none;
    outline: none;

}

/* info */
.info-container {
    display: flex;

}
.accordition-header {
    text-align: center;
     display: none; 
}
.footer a{
    text-decoration: none;
    color: #fff;
    margin:0 4px;
   
}
.footer li{
    list-style: none;
}

/* social media */

.social-media h5 {
    text-transform: uppercase;
    text-align: center;
}
.social-media ul{
    display: flex;
}
.social-media li{
    margin: 8px;
    cursor: pointer;
}
.accordition-header button {
    cursor: pointer;
}

@media screen and (max-width:780px){
    .footer-container{
        overflow: hidden;
    }
    .footer{
        padding: 24px 0;
    }
    .info-container{
        align-self: stretch;
        justify-self: stretch;
        margin: 16px 0;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
        padding: 0;
    }
    .footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.info-container>article{
    border-bottom: 1px solid #2c2c2d;
    color: var(--lightBlue);
}
.accordition-container{
    padding: 2px 1.5px;
    width: 100%;
    height: 100%;
    justify-self:start ;
}
.accordition-container-first {
     border-top: 1px solid #2c2c2d;
     padding: 2px 1.5px;
}

.info-container h4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:.875rem ;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    padding: 0 16px;
}
.info-container button{
    cursor: pointer;
}
.accordition{
    display: none;
}
}